body{
	background-color:blue;
	font-family:arial;
}
div{
	
}
head{
	font-size:
}
h1{
	color:yellow;
	text-align:center;
}
p{
	color:red;
	font-size:50px;
}
h1{
	color:yellow;
	

}
img{
	border-color:black;
	border-style:solid;
	border-width:10px;
	
}

h1{
	text-decoration:underline;
}
h4{
	text-align:center;
}
h3{
	font-family:brush sciript mt;
	
}
table{
	 text-transform:uppercase;
	 background-color:red;
}
td{
	background-color:yellow;
}
img{
	border-radius:70px;
}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

h3{
	color:white;
}
#title{
	color:black;

}